.navBar {
    width: 15vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.objectLineUp {
    position: absolute;
    width: 0;
    height: 33vh;
    top: 0px;
    border: 1px solid #E9BD43;
    right: 7vw;
    left: 7vw;

}

.btninitial {
    display: none;
    position: absolute;
    /* width: 5vw;
height: 2.81690vh; */
    align-self: center;
    top: 40.49vh;
    /* background: #E9BD43;
    border: 1px solid #E9BD43;
    box-sizing: border-box;
    border-radius: 8pt; */
}

.homeInitial {
    /* display: none; */
    position: absolute;
    text-decoration: none;
    align-self: flex-start;

    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.1rem;
    top: 36.97vh;
    align-self: center;



}

/* tratanto de  ejecutar el hover*/
/* .initial:hover:after{
    content: 'Home';
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    align-self:flex-start;
} */
.aboutMe {
    position: absolute;
    width: 8px;
    height: 8px;
    align-self: center;
    top: 47.53521126760563vh;
    border: 0.5px solid #E9BD43;
    box-sizing: border-box;
    border-radius: 4pt;
}

.proyects {
    position: absolute;
    width: 8px;
    height: 8px;
    align-self: center;
    top: 56.33802816901409vh;
    border: 0.5px solid #E9BD43;
    box-sizing: border-box;
    border-radius: 4pt;
}

.contact {
    position: absolute;
    width: 10px;
    height: 10px;
    align-self: center;
    top: 65.14084507042253vh;
    border: 0.5px solid #E9BD43;
    box-sizing: border-box;
    border-radius: 4pt;

}

.objectLineDown {
    position: absolute;
    width: 0;
    height: 17.605vh;
    top: 72.18vh;
    border: 1px solid #E9BD43;
    right: 7vw;
    left: 7vw;


}

.containerBtnDown {
    width: 9.6875vw;
    height: 5.457746478873239vh;
    position: absolute;
    bottom: 1.7605633802816902vh;
    align-self: center;

}

.btnDown {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 550px) {
    .navBar {
        width: 10vw;
    }

    .btnDown {
        right: 2vw;
        left: 2vw;
        bottom: 1vw;

    }


}