.wrapper {
  position: absolute;
  width: 100vw;
  height: auto;
  display: flex;

  top: 0;
  justify-content: center;
  align-items: center;
}


.window {
  position: relative;
  background: #ffffff;
  z-index: 10;

}


.returnBtn {
  position: fixed;
  top: 2vh;
  right: 8vw;
  border-style: none;
  text-align: center;
  z-index: 11;
}


.returnBtnDown {
  position: absolute;
  bottom: 15vh;
  right: 8vw;
  text-align: center;
  z-index: 11,
}


img {
  width: 170%;
  height: 170%;
}






@media only screen and (min-width:1440px) {

  .wrapper {
    width: 100vw;

    background-color: black;
    z-index: 9;
  }

  .window {
    z-index: 10;
    background: #ffffff;
    width: 90vw;
  }





  img {
    width: 80%;
    height: 80%;
  }

  .returnBtn {
    position: fixed;
    top: 2vh;
    right: 6.5vw;
    border-style: none;
    text-align: center;
    z-index: 15;
  }



  .returnBtnDown {
    position: absolute;
    bottom: 20vh;
    right: 2.3vw;
    text-align: center;
    z-index: 15,
  }
}