.aboutPageFirstCape {
  display: flex;
  /* position: absolute; */
  background-color: FFFFFF;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.aboutPageSecondCape {
  display: flex;
  /* position: absolute; */
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(109.19deg, rgba(74, 44, 64, 0.7) -70.22%, rgba(74, 44, 64, 0.7) -70.21%, rgba(74, 44, 64, 0) -11.56%, rgba(74, 44, 64, 0.7) 32.17%);

}

/* background: rgba(0, 0, 41, 0.5); */

.aboutContainerText {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/backgroundcel.svg);
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: cover;
  z-index: 2;

}

.aboutPageThirdCape {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* display: flex; */
  z-index: 3;
  background: linear-gradient(110.93deg, rgba(125, 55, 128, 0.7) 36.17%, rgba(74, 44, 64, 0.7) 80.08%, rgba(125, 55, 128, 0) 90.78%);
  opacity: 0.2;
  transform: rotate(180deg);
}


.bodyAboutMe {
  padding: 0;
  margin: 0;
  width: 85vw;
  height: 100vh;
  color: #ffffff;
  overflow: hidden;

}

/* logo */
.containerLogoAboutMe {
  width: 15vw;
  position: absolute;
  z-index: 5;

}

.logoImg {

  width: 100%;
  height: 100%;
  margin-top: 2vh;
  margin-left: 2vw;


}

.bodyAboutMe h2 {
  margin-top: 5vh;
  text-align: center;
  font-family: 'Sacramento',
    'sans-serif';
  font-size: 4rem;
}

.textAboutme {
  display: flex;

  width: 100vw;
  height: 40vh;
  margin-top: 8vh;
  margin-left: 5vw;
}

/* .textAboutme h2 {
  text-align: center;
  color: #ffffff;
} */


.containerTexAndImg {
  display: flex;
  /* flex-direction: row; */

  /* background-image: url('../../images/backgroundAbi.svg') 0 0 no-repeat; */
  width: 100vw;
}



.textP {
  width: 75vw;
  display: flex;

}

.mePicture {
  width: 60%;
  float: right;


  -webkit-shape-outside: url('../../images/me.svg');
  -moz-shape-outside: url('../../images/me.svg');
  -ms-shape-outside: url('../../images/me.svg');
  -o-shape-outside: url('../../images/me.svg');
  shape-outside: url('../../images/me.svg');

}

.textP p {
  font-size: 1.7rem;
  font-family: 'Sansita', 'sans-serif';
  line-height: 1.700em;
  margin-right: 1vw;
  text-align: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  /* color: #FFFFFF; */
}

/* .containerPic {
  top: 1vh;
  width: 50vw;
  position: absolute;
  left: 65vw;

} */
/* hobbies */
.hobbies {
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;

}

.containerHobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3vw;
  margin-right: 3vw;
}

.containerHobbies img {
  width: 20%;
  height: 20%;
  margin: 2vw;


}




@media screen and (min-width: 1440px) {

  .aboutContainerText {
    width: 90vw;
    height: 100vh;
    background-image: url(../../images/backgroundAbi.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70% 70%;
    z-index: 3;

  }

  .bodyAboutMe {
    width: 100vw;
  }

  .textP p {
    font-size: 1rem;
    line-height: 2em;
    text-align: center;

    /* color: #FFFFFF; */
  }


  .mePicture {
    width: 30%;
  }

  /* logo */
  .containerLogoAboutMe {
    width: 7vw;
    position: absolute;
  }

  #logoImg {
    fill: #4A2C40;
    z-index: 6;
  }



  .hobbies {
    width: 90vw;

  }

  .containerHobbies img {
    width: 10%;
    height: 10%;
    margin: 2vw;


  }


}