.habAndKnowCapeFirts {
  display: flex;
  /* position: absolute; */
  background-color: FFFFFF;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.habAndKnowCapeSecond {
  /* position: absolute; */
  display: flex;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(109.19deg, rgba(74, 44, 64, 0.7) -70.22%, rgba(74, 44, 64, 0.7) -70.21%, rgba(74, 44, 64, 0) -11.56%, rgba(74, 44, 64, 0.7) 32.17%);

}

.containerSkillsThirdCape {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/backgroundcel.svg);
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: cover;
  z-index: 2;
}

.habAndKnowCapeForth {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  background: linear-gradient(110.93deg, rgba(125, 55, 128, 0.7) 36.17%, rgba(74, 44, 64, 0.7) 80.08%, rgba(125, 55, 128, 0) 90.78%);
  opacity: 0.2;
  transform: rotate(180deg);
}

/* logo */
.containerLogoHabAndKnow {
  width: 20vw;
  position: absolute;
  z-index: 5;

}

.logoImg {

  width: 90%;
  height: 90%;
  margin-top: 2vh;
  margin-left: 2vw;


}