.habAndKnowCapeFirts {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/backgroundcel.svg);
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: cover;
  z-index: 1;
  display: flex;
  flex-direction: row;
}



.bodyHabAndKnow {
  padding: 0;
  margin: 0;
  width: 85vw;
  height: 100vh;

}


.containerTitleAndHabandKnow {
  margin-top: 5vh;
  margin-left: 5vw;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.containerTitleAndHab h2 {
  margin-top: 3vh;
  text-align: center;
  font-family: 'Sacramento', 'sans-serif';
  font-size: 4rem;
  color: #ffffff;

}


.containerHab {
  margin-top: 2vh;
  width: 70vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


}

.containerHab img {

  width: 25%;
  height: 25%;
  margin-left: 4vw;

}

.containerTitleAndKnow h2 {
  margin-top: 3vh;
  text-align: center;
  font-family: 'Sacramento', 'sans-serif';
  font-size: 4rem;
  color: #ffffff;

}

.containerKnow {
  margin-top: 2vh;
  width: 70vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.containerKnow img {
  width: 15%;
  margin-left: 3vw;

}



@media screen and (min-width: 1440px) {

  .habAndKnowCapeFirts {

    background-image: url(../../images/backgroundAbi.svg);
    background-position: 50% 50%;
    z-index: 1;
  }

  .bodyHabAndKnow {
    width: 90vw;

  }


  .containerTitleAndHabandKnow {
    margin-top: 18vh;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .containerTitleAndHab h2 {
    margin-top: 0vh;
    text-align: left;
    font-size: 2.5rem;

  }

  .containerHab {

    width: 80vw;
    height: auto;



  }


  .containerHab img {
    width: 10%;
    height: 10%;

  }

  .containerTitleAndKnow h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .containerKnow {
    width: 75vw;
    height: auto;
    margin-bottom: 3vh;
  }

  .containerKnow img {
    margin-top: 2vh;
    width: 4%;
    height: 4%;
    margin-left: 8vw;
    margin-bottom: 5vh;
  }





}