.containerBtn {

    padding: 0;
    margin: 0;


}

.btn {
    width: 62.5vw;
    height: 12.32394366197183vh;
    background-color: transparent;
    border: 2px solid #E9BD43;
    display: flex;
    justify-content: space-around;
    position: absolute;

}

.btnInside {
    position: absolute;
    width: 56.25vw;
    height: 8.80281690140845vh;
    background-color: #E9BD43;
    align-self: center;
    display: flex;
    font-size: 4rem;
    justify-content: space-around;
    line-height: 0.45em;
    font-weight: 400;

}

.btnInside a {
    /* position: absolute; */
    text-decoration: none;
    align-self: center;
    font-family: 'Sansita', sans-serif;
    color: #4A2C40;

}


@media only screen and (min-width: 1440px) {
    .btn {
        width: 22.22222222222222vw;
        height: 11.11111111111111vh;
    }

    .btnInside {
        width: 20.833333333333336vw;
        height: 8.88888888888889vh;
        font-size: 3rem;
    }

}