/*background imagen and capes */
.container_0 {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Sansita', sans-serif;
    background-image: url(../../images/nqmFotos.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-position: bottom;
    background-position: bottom;

    /* position: absolute; */
    display: flex;
    z-index: -1;

}

/* .container_1 {
    background-image: url(../../images/backgroundPic.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 1;
    position: absolute;
} */


/*body*/
.body {
    display: flex;
    width: 85vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    flex-direction: column;
    z-index: 3;

}

/* titles*/
.titles {
    margin-top: 40vh;
    margin-left: 4vw;
    width: 65vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.principalTitles h1 {
    padding: 0;
    margin: 0;
    font-family: 'Sansita', sans-serif;
    color: #ffffff;
    font-size: 11rem;
    line-height: 0.895em;
    font-weight: 400;
    margin-bottom: 3vh;
}

.profesionTitle h2 {
    font-family: 'Sansita', sans-serif;
    color: #4A2C40;
    font-size: 8rem;
    line-height: 0.895em;
    font-weight: 400;
    margin-bottom: 3vh;
    z-index: 3;
}



/* responsive media query*/
@media only screen and (min-width: 1440px) {

    .container_0 {
        background-image: url(../../images/nqmFotos.svg);
        background-position: center;
    }

    .body {

        width: 90vw;

    }

    /* titles*/
    .titles {
        margin-top: 25vh;
        margin-left: 4vw;
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
    }



    .principalTitles h1 {

        margin: 0;
        padding: 0;
        font-family: 'Sansita', sans-serif;
        color: #ffffff;
        font-size: 8rem;
        line-height: 110px;
        font-weight: 400;
        margin-bottom: 2vh;
    }

    .profesionTitle h2 {
        font-family: 'Sansita', sans-serif;
        color: #4A2C40;
        font-size: 6rem;
        line-height: 100px;
        font-weight: 400;
        margin-bottom: 4vh;

    }



}