/*background imagen and capes */
.container_0 {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Sansita', sans-serif;
    background-image: url(../../images/nqmFoto.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-position: bottom;
    background-position: bottom;
    opacity: 0.6;
    position: absolute;

}

.container_1 {
    background: linear-gradient(128.13deg, rgba(125, 55, 128, 0.3) 28.01%, rgba(125, 55, 128, 0) 97.4%);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
}

.container_2 {
    background: linear-gradient(109.19deg, rgba(74, 44, 64, 0.8) -9.87%, rgba(74, 44, 64, 0.8) -9.86%, rgba(74, 44, 64, 0) 48.79%, rgba(74, 44, 64, 0.8) 92.51%);
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
}

/*body*/
.body {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* logo */
.containerLogo {
    width: 20vw;
    position: absolute;
}

.logoImg {
    width: 100%;
    height: 100%;
    margin-top: 3vh;
    margin-left: 3vw;

}

/* titles*/
.titles {
    top: 45vh;
    position: absolute;
    margin-left: 4vw;
    width: 65vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.principalTitles h1 {
    padding: 0;
    margin: 0;
    font-family: 'Sansita', sans-serif;
    color: #ffffff;
    font-size: 11rem;
    line-height: 0.895em;
    font-weight: 400;
    margin-bottom: 3vh;
}

.profesionTitle h2 {
    font-family: 'Sansita', sans-serif;
    color: #4A2C40;
    font-size: 8rem;
    line-height: 0.895em;
    font-weight: 400;
    margin-bottom: 3vh;

}



/* responsive media query*/
@media only screen and (min-width: 1440px) {

    .container_0 {
        background-image: url(../../images/nqmprueba1.jpg);
    }

    /* logo */
    .containerLogo {
        width: 7vw;
    }

    /* titles*/
    .titles {
        top: 25vh;
        position: absolute;
        margin-left: 4vw;
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
    }



    .principalTitles h1 {

        margin: 0;
        padding: 0;
        font-family: 'Sansita', sans-serif;
        color: #ffffff;
        font-size: 8rem;
        line-height: 110px;
        font-weight: 400;
        margin-bottom: 2vh;
    }

    .profesionTitle h2 {
        font-family: 'Sansita', sans-serif;
        color: #4A2C40;
        font-size: 6rem;
        line-height: 100px;
        font-weight: 400;
        margin-bottom: 2vh;

    }



}