.navBar {
    width: 15vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;


}

.objectLineUp {
    display: flex;
    position: absolute;
    width: 0;
    height: 35vh;
    top: 0px;
    border: 1.5px solid #E9BD43;
    align-self: center;
    justify-content: space-around;

}

.initial {
    align-self: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 38vh;
    display: flex;
    justify-content: space-around;
}

.initial a {
    position: absolute;
    text-decoration: none;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 2.8rem;
}

.initial a:hover {
    cursor: pointer;
    color: #7D3780;
}



.aboutMe {
    align-self: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 46vh;
    display: flex;
    justify-content: space-around;

}

.aboutMe a {
    position: absolute;
    text-decoration: none;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.aboutMe a:hover {
    cursor: pointer;
    color: #7D3780;
}

.proyects {
    align-self: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 56vh;
    display: flex;
    justify-content: space-around;

}

.proyects a {
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 2rem;

}

.proyects a:hover {
    cursor: pointer;
    color: #7D3780;
}

.contact {
    align-self: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 64vh;
    display: flex;
    justify-content: space-around;

}

.contact a {
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 2rem;
}


.contact a:hover {
    cursor: pointer;
    color: #7D3780;
}



.objectLineDown {
    display: flex;
    position: absolute;
    width: 0;
    height: 17vh;
    top: 70vh;
    border: 1.5px solid #E9BD43;
    justify-content: center;
    align-self: center;



}

.containerBtnDown {
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    display: flex;
    height: 6vh;
    align-self: center;
    justify-content: space-around;
    bottom: 3vh;



}

.btnDown {

    width: 100%;
    height: 100%;

}

@media only screen and (min-width:1440px) {

    .navBar {
        width: 10vw;
        height: 100vh;

    }

    .objectLineUp {
        border: 1px solid #E9BD43;
    }

    .initial a {
        font-size: 1.5rem;
    }

    .aboutMe a {
        font-size: 1.1rem;

    }

    .proyects a {
        font-size: 1.1rem;
    }

    .contact a {
        font-size: 1.1rem;
    }

    .objectLineDown {
        border: 1px solid #E9BD43;
    }


}