.navBar {
    width: 15vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
    position: fixed;
    z-index: 6;


}

.objectLineUp {
    display: flex;
    position: absolute;
    width: 0;
    height: 35vh;
    top: 0px;
    border: 1.5px solid #E9BD43;
    align-self: center;
    justify-content: space-around;

}

.containerSideBar {
    width: 100%;
    top: 38vh;
    height: 32vh;
    display: flex;
    flex-direction: column;
    position: absolute;


}

.containerSideBar ul {

    text-decoration: none;
    color: #E9BD43;
    list-style: none;
    font-size: 2rem;
    font-family: 'Sarabun', sans-serif;


}

.containerSideBar ul li {
    display: flex;
    flex-direction: column;

    margin-bottom: 6vh;
    text-decoration: none;
    color: #E9BD43;
    list-style: none;
    font-size: 2rem;
    font-family: 'Sarabun', sans-serif;


}

.containerSideBar ul li:hover {
    cursor: pointer;
    color: #7D3780;
}



.objectLineDown {
    display: flex;
    position: absolute;
    width: 0;
    height: 17vh;
    top: 70vh;
    border: 1.5px solid #E9BD43;
    justify-content: center;
    align-self: center;



}

.containerBtnDown {
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    display: flex;
    height: 6vh;
    align-self: center;
    justify-content: space-around;
    bottom: 5vh;



}

.btnDown {

    width: 106%;
    height: 106%;

}

@media only screen and (min-width:1440px) {

    .navBar {
        width: 10vw;
        height: 100vh;

    }

    .objectLineUp {
        border: 1px solid #E9BD43;
    }

    .containerSideBar ul li {
        margin-bottom: 4vh;
        font-size: 1.5rem;
    }

    .objectLineDown {
        border: 1px solid #E9BD43;
    }


}