.navBar {
    width: 15vw;
    height: 100;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* position: fixed; */
    justify-content: space-between;
    z-index: 8;


}

.objectLineUp {
    display: flex;
    /* position: absolute; */
    width: 0;
    height: 35vh;
    top: 0px;
    border: 1.5px solid #E9BD43;
    align-self: center;
    justify-content: space-around;

}

.containerSideBar {
    margin-top: 3vh;
    width: 100%;
    /* top: 38vh; */
    height: 32vh;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    justify-content: space-between;


}

.containerSideBar ul {

    text-decoration: none;
    color: #E9BD43;
    list-style: none;
    font-size: 2rem;
    font-family: 'Sarabun', sans-serif;


}

.containerSideBar ul li {
    display: flex;
    flex-direction: column;

    margin-bottom: 6vh;
    text-decoration: none;
    color: #E9BD43;
    list-style: none;
    font-size: 2rem;
    font-family: 'Sarabun', sans-serif;


}

.containerSideBar ul li:hover {
    cursor: pointer;
    color: #7D3780;
}



.objectLineDown {
    display: flex;
    /* position: absolute; */
    width: 0;
    height: 10vh;
    top: 70vh;
    border: 1.5px solid #E9BD43;
    justify-content: center;
    align-self: center;



}

.containerBtnDown {
    display: flex;

    /* position: absolute; */
    padding: 0;
    margin: 0;

    height: 6vh;
    align-self: center;
    justify-content: space-around;
    margin-top: 2vh;



}

.btnDown {

    width: 100%;
    height: 100%;

}

.objectLineUpFoo {
    display: flex;
    align-items: flex-end;
    height: 10vh;
    width: 0;
    border: 1.5px solid #E9BD43;
    align-self: center;
    justify-content: space-around;



}

.containerBtnUp {
    display: flex;
    padding: 0;
    height: 6vh;
    margin-top: 3vh;
    justify-content: center;


}

.btnUp {

    width: 80%;
    height: 80%;

}

@media only screen and (min-width:1440px) {

    .navBar {
        width: 8vw;
        height: 100vh;

    }

    .objectLineUp {
        border: 1px solid #E9BD43;
    }

    .containerSideBar ul li {
        margin-bottom: 4vh;
        font-size: 1.1rem;
        text-align: center;
    }

    .objectLineDown {
        border: 1px solid #E9BD43;
    }

    /* .containerBtnDown {
        display: block;
        display: flex;
        position: absolute;
        padding: 0;
        margin: 0;

        height: 6vh;
        align-self: center;
        justify-content: space-around;
        bottom: 5vh;



    }

    .btnDown {

        width: 116%;
        height: 116%;

    } */


}