.navBar {
    width: 15vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.objectLineUp {
    position: absolute;
    width: 0;
    height: 30vh;
    top: 0px;
    border: 1px solid #E9BD43;
    right: 7vw;
    left: 7vw;

}

.btninitial {
    display: none;
    position: absolute;
    align-self: center;
    top: 35vh;
}

.homeInitial {
    /* display: none; */
    position: absolute;
    text-decoration: none;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 1rem;
    top: 35vh;
    left: 1vw;
}

/* tratanto de  ejecutar el hover*/
/* .initial:hover:after{
    content: 'Home';
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    align-self:flex-start;
} */
.aboutMe {
    position: absolute;
    align-self: center;
    top: 45vh;
}


.homeAbout {
    display: none;
    position: absolute;
    text-decoration: none;
    align-self: flex-start;

    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.1rem;
    top: 45vh;
    align-self: center;
}

.proyects {
    position: absolute;
    align-self: center;
    top: 55vh;

}

.homeProyects {
    display: none;
    position: absolute;
    text-decoration: none;
    align-self: flex-start;

    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.1rem;
    top: 55vh;
    align-self: center;
}

.contact {
    position: absolute;
    align-self: center;
    top: 65vh;
}

.homeProyects {
    display: none;
    position: absolute;
    text-decoration: none;
    align-self: flex-start;

    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.1rem;
    top: 65vh;
    align-self: center;
}

.objectLineDown {
    position: absolute;
    width: 0;
    height: 17vh;
    top: 75vh;
    border: 1px solid #E9BD43;
    right: 7vw;
    left: 7vw;


}

.containerBtnDown {
    width: 9.6875vw;
    height: 6vh;
    position: absolute;
    bottom: 2vh;
    align-self: center;

}

.btnDown {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 550px) {
    .navBar {
        width: 11vw;
    }

    .objectLineDown {
        position: absolute;
        width: 0;
        height: 17vh;
        top: 73vh;
        border: 1px solid #E9BD43;

    }

    .containerBtnDown {
        position: absolute;
        bottom: 0;
        align-self: center;
    }

    .btnDown {
        right: 1vw;
        left: 1.5vw;
        bottom: 2vw;
    }


}