.navBar {
    width: 15vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;

}

.objectLineUp {
    position: absolute;
    width: 0;
    height: 35vh;
    top: 0px;
    border: 1px solid #E9BD43;
    right: 5vw;
    left: 8vw;
}

.initial a {
    position: absolute;
    text-decoration: none;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2rem;
    top: 40vh;
    right: 3vw;
}

.initial a:hover {
    cursor: pointer;
    color: #7D3780;
}

/* tratanto de  ejecutar el hover*/
/* .initial:hover:after{
    content: 'Home';
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    align-self:flex-start;
} */

.aboutMe a {
    text-align: center;
    position: absolute;
    text-decoration: none;
    align-self: flex-start;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 0.8rem;
    top: 48vh;
    right: 2.5vw;


}

.aboutMe a:hover {
    cursor: pointer;
    color: #7D3780;
}

.proyects a {
    text-align: center;
    position: absolute;
    text-decoration: none;
    align-self: flex-start;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 0.8rem;
    top: 56vh;
    right: 3vw;
}

.proyects a:hover {
    cursor: pointer;
    color: #7D3780;
}

.contact a {
    text-align: center;
    position: absolute;
    text-decoration: none;
    align-self: flex-start;
    color: #E9BD43;
    font-family: 'Sarabun', sans-serif;
    font-size: 0.8rem;
    top: 64vh;
    right: 3vw;
}

.contact a:hover {
    cursor: pointer;
    color: #7D3780;
}



.objectLineDown {
    position: absolute;
    width: 0;
    height: 17vh;
    top: 72vh;
    border: 1px solid #E9BD43;
    right: 5vw;
    left: 8vw;


}

.containerBtnDown {
    width: 9.6875vw;
    height: 6vh;
    position: absolute;
    bottom: 4vh;
    right: 5vw;
    left: 3.5vw;


}

.btnDown {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width:480px) {
    .navBar {
        width: 10vw;
    }

    .objectLineUp {
        left: 7vw;
    }

    .initial a {
        font-size: 1.5rem;
        top: 40vh;
        right: 1.5vw;
    }

    .aboutMe a {
        font-size: 1rem;
        top: 48vh;
        right: 1.5vw;
    }

    .proyects a {
        font-size: 1rem;
        top: 56vh;
        right: 1.5vw;
    }

    .contact a {
        font-size: 1rem;
        top: 64vh;
        right: 1.5vw;
    }

    .containerBtnDown {
        position: absolute;
        bottom: 0;
        align-self: center;
    }

    .objectLineDown {
        top: 72vh;
        left: 7vw;

    }

    .btnDown {
        right: 1.3vw;
        bottom: 2vw;
    }

}