.navBarProyects {
    width: 18vw;
    height: 100;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* position: fixed; */
    justify-content: space-between;
    z-index: 8;


}

.objectLineUpP {
    display: flex;
    /* position: absolute; */
    width: 0;
    height: 18vh;
    top: 0px;
    border: 1.5px solid #E9BD43;
    align-self: center;
    justify-content: space-around;

}

.containerSideBarP {
    margin-top: 1vh;
    width: 100%;
    /* top: 38vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    justify-content: space-between;


}

.containerSideBarP ul {

    text-decoration: none;
    color: #E9BD43;
    list-style: none;

    font-family: 'Sarabun', sans-serif;


}

.containerSideBarP ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3vh;
    text-decoration: none;
    color: #E9BD43;
    list-style: none;
    font-size: 1.8rem;
    font-family: 'Sarabun', sans-serif;


}

.containerSideBarP ul li:hover {
    cursor: pointer;
    color: #7D3780;
}



.objectLineDownP {
    display: flex;
    /* position: absolute; */
    width: 0;
    height: 11vh;

    border: 1.5px solid #E9BD43;
    justify-content: center;
    align-self: center;



}

.containerBtnDownP {
    display: flex;

    /* position: absolute; */
    padding: 0;
    margin: 0;

    height: 6vh;
    align-self: center;
    justify-content: space-around;




}

.btnDownP {

    width: 100%;
    height: 100%;

}

.objectLineUpFoo {
    display: flex;
    align-items: flex-end;
    height: 10vh;
    width: 0;
    border: 1.5px solid #E9BD43;
    align-self: center;
}

.containerBtnUp {
    display: flex;
    padding: 0;
    height: 6vh;
    margin-top: 1vh;
    justify-content: center;


}

.btnUp {

    width: 80%;
    height: 80%;

}

.containerReturn {
    display: flex;
    padding: 0;
    height: 6vh;
    margin-top: 2vh;
    justify-content: center;


}

.btnReturn {

    width: 80%;
    height: 80%;

}

@media only screen and (min-width:1440px) {

    .navBarProyects {
        width: 8vw;
        height: 100vh;

    }

    .objectLineUpP {
        border: 1px solid #E9BD43;
    }

    .containerSideBarP ul li {
        margin-bottom: 4vh;
        font-size: 1rem;
    }

    .objectLineDownP {
        border: 1px solid #E9BD43;
    }

    /* .containerBtnDown {
        display: block;
        display: flex;
        position: absolute;
        padding: 0;
        margin: 0;

        height: 6vh;
        align-self: center;
        justify-content: space-around;
        bottom: 5vh;



    }

    .btnDown {

        width: 116%;
        height: 116%;

    } */


}