.containerViewCpt {
  width: 100vw;
  height: auto;
  display: flex;
  margin: 0;
  padding: 0;
}

.cptBody {
  width: 85vw;
  height: auto;
  /* display: flex;
  flex-direction: column; */
}

.slick-slider {
  width: 85vw;
  align-self: center;
  margin-top: 5vh;
  height: auto;
  margin-bottom: 5vh;
}

.slick-slide img {
  width: 75vw;
  align-self: center;
  padding-left: 10vw;
}

/* .containerImgPtc {
  width: 90vw;
  height: auto;
  margin-top: 2vh;
  margin-left: 5vw;
}

.imgSliderPtc {
  width: 90%;
  height: 90%;
  align-self: center;
} */

.containerSection {
  display: flex;
  flex-direction: column;
  font-family: "sarabun";
  width: 80vw;
  height: auto;
}

.containerSection h2 {
  font-size: 3rem;
  text-align: center;
  color: #4A2C40;
}


.containerPtextcpt {
  margin-top: 2vh;
  width: 80vw;
  height: auto;
  background: linear-gradient(93.88deg, #4A2C40 14.99%, #7D3780 69.18%, rgba(125, 55, 128, 0.64613) 90.45%, rgba(125, 55, 128, 0.576729) 101.39%, rgba(125, 55, 128, 0) 101.39%, rgba(125, 55, 128, 0.336851) 101.39%);
  display: flex;
  justify-content: center;
  padding: 25px;
  box-shadow: 5px 2px 10px 2px rgba(100, 50, 96, 0.6);
  margin-bottom: 3vh;
}

.containerPtextcpt p {
  font-size: 1.8rem;
  text-align: center;
  align-self: center;
  color: #FAEEE7;
  line-height: 1.8em;
}

/* teem */
.containerTeemCpt {
  display: flex;
  width: 80vw;
  height: auto;
  flex-direction: column;
  margin-bottom: 3vh;
}



.containerTeemCpt h2 {
  font-size: 2.5rem;
  text-align: left;
  margin-left: 3vw;


}

.containerImgName h4 {
  font-size: 1.5rem;
  color: #E9BD43;
}

.containerPictTeem {
  margin-top: 4vh;
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-around;


}

.containerImgName {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: auto;
  margin-bottom: 3vh;
}

.containerImgName a {
  text-decoration: none;
  text-align: center;

}

.containerImgName a img {
  width: 80%;
  height: 80%;


}

.containerImgName p {

  font-size: 1.5rem;
  width: 15vw;
  color: #4A2C40;
  text-align: center;
}

/* tecnologias */
.containerTecnologies {
  width: 80vh;
  display: flex;
  flex-direction: column;
  height: auto;
}

.containerTecnologies h2 {
  font-size: 2.5rem;
  text-align: left;
  margin-left: 3vw;

}

.containerGralImgTec {

  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  margin-left: 2;
  margin-right: 2;
  margin-bottom: 3vh;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  flex-wrap: wrap;
}

/* .containerImgTec {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 15vw;
} */

.containerGralImgTec img {
  width: 10%;
  height: 10%;
}

/* ver mas  enlaces*/

.containerLinks {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerLinks h2 {

  font-size: 2.5rem;
  text-align: left;
  margin-left: 3vw;
}

.containerDeploy {
  margin-top: 2vh;
  width: 75vw;
  margin-bottom: 3vh;
}

.containerDeploy p {
  margin-bottom: 2vh;
  font-size: 2.5rem;
  text-align: left;
  margin-left: 3vw;
  color: #E9BD43;
}

.containerLinks a {
  text-decoration: none;
  color: #7D3780;
  font-size: 1.6rem;
  margin-left: 3vw;
  text-align: justify;


}

.lineSep {
  width: 40vw;
  height: 0vh;
  border: 1px solid #E9BD43;
  left: 0;
  margin-top: 3vh;
}

.containerGitHub {
  width: 75vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.containerGitHub p {
  margin-bottom: 2vh;
  font-size: 2.5rem;
  text-align: left;
  margin-left: 3vw;
  color: #E9BD43;
}

.containerGitHub a {
  text-decoration: none;
  color: #7D3780;
  font-size: 1.6rem;
  margin-left: 3vw;
  text-align: justify;


}

@media only screen and (min-width:1440px) {
  .cptBody {
    width: 90vw;
  }

  .slick-slider {
    width: 90vw;
    margin-top: 5vh;
  }

  .slick-slide img {
    width: 90vw;
    align-self: center;
    padding-left: 10vw;
  }


  .containerSection {
    width: 90vw;
  }

  .containerSection h2 {
    font-size: 2rem;

  }

  .containerPtextcpt {
    margin-top: 5vh;
    width: 90vw;

  }

  .containerPtextcpt p {
    font-size: 1rem;
  }

  .containerTeemCpt h2 {
    font-size: 1.8rem;
  }

  .containerImgName a img {
    width: 60%;
    height: 60%;
  }



  .containerImgName p {
    font-size: 1.3rem;
    width: 15vw;
    color: #4A2C40;
    text-align: center;
  }

  .containerTecnologies {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .containerTecnologies h2 {
    font-size: 1.8rem;
    margin-bottom: 2vh;

  }

  .containerGralImgTec img {
    width: 5%;
    height: 5%;
  }

  .containerLinks h2 {

    font-size: 1.8rem;
    margin-bottom: 2vh;
  }

  .containerLinks p {
    margin-bottom: 3vh;
    font-size: 2rem;
  }

  .containerLinks a {

    font-size: 1.2rem;


  }

}